<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="about"></include>
</head>

<body ontouchstart class="" >
    <include src="../_header3.html"></include>

    <div id="content">
        <section class="block-page-name">
            <div class="half">
                <div class="page-name-jpn">
                    葵屋とは
                </div>
            </div>
            <div class="half">
                <img src="img/about-banner-sp.png" alt="" class="show-sp">
                <img src="img/about-banner-pc.png" alt="" class="show-pc">
            </div>
            <div class="page-name">
                <h2>About</h2>
            </div>
        </section>
        
        <section class="about-page">
            <div class="container">
                <div class="about-page--bg">
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about1.png" alt="" class="show-sp">
                            <img src="img/i-about1-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>インターネット・サービスを通じて、 人々と社会を“エンパワーメント”する </h3>
                            <p>
                                インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。オールウェイズFRESH ! 能力の高さより一緒に働きたい人を集める。採用には全力をつくす。インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。インターネットという成長産業から軸足はぶらさない。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about2.png" alt="" class="show-sp">
                            <img src="img/i-about2-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>インターネット・サービスを通じて、 人々と社会を“エンパワーメント”する </h3>
                            <p>
                                インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。オールウェイズFRESH ! 能力の高さより一緒に働きたい人を集める。採用には全力をつくす。インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。インターネットという成長産業から軸足はぶらさない。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about3.png" alt="" class="show-sp">
                            <img src="img/i-about3-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>インターネット・サービスを通じて、 人々と社会を“エンパワーメント”する </h3>
                            <p>
                                インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。オールウェイズFRESH ! 能力の高さより一緒に働きたい人を集める。採用には全力をつくす。インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。インターネットという成長産業から軸足はぶらさない。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about4.png" alt="" class="show-sp">
                            <img src="img/i-about4-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>インターネット・サービスを通じて、 人々と社会を“エンパワーメント”する </h3>
                            <p>
                                インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。オールウェイズFRESH ! 能力の高さより一緒に働きたい人を集める。採用には全力をつくす。インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。インターネットという成長産業から軸足はぶらさない。
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="pagination">
            <a class="prev" href="">
                <i class="fa fa-angle-left fll"></i>
                <span class="jpn">メッセージ</span>
                <span class="eng">Message</span>
            </a>
            <a class="next" href="">
                <span class="eng">Work</span>
                <span class="jpn">仕事紹介</span>
                <i class="fa fa-angle-right flr"></i>
            </a>
        </section>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>

    <include src="../_footer3.html"></include>
</body>

</html>