<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="about"></include>
</head>

<body ontouchstart class="">
    <include src="../_header3.html"></include>

    <div id="content">
        <section class="block-page-name">
            <div class="half">
                <div class="page-name-jpn">
                    葵屋とは
                </div>
            </div>
            <div class="half">
                <img src="img/about-banner-sp.png" alt="" class="show-sp">
                <img src="img/about-banner-pc.png" alt="" class="show-pc">
            </div>
            <div class="page-name">
                <h2>About</h2>
            </div>
        </section>

        <section class="about-page">
            <div class="container">
                <div class="about-page--bg">
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about1.png" alt="" class="show-sp">
                            <img src="img/i-about1-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>”業務効率化”と”機会創出”の実現</h3>
                            <p>
                                クライアントが抱える多様なニーズに応えるべく、高品質を重視したオペレーションやカスタマイズ可能なテレマーケティング体制を充実。
                                加えてWEB集客(デジタルマーケティング)とFace To Faceによるプレゼンテーションの両輪で有意義且つ効果の高いサービスを提供します。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about2.png" alt="" class="show-sp">
                            <img src="img/i-about2-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>総合的なITリソースプロポーザル</h3>
                            <p>
                                経験豊富な弊社コンサルタントが徹底的なヒアリングを通じて、クライアントの要求・課題・将来像を的確に把握。
                                マーケットニーズに則した全技術戦略の策定とサービス全体の効率化及びトータルアウトソースによるコストメリットの最大化を図ります。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about3.png" alt="" class="show-sp">
                            <img src="img/i-about3-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>トータルクオリティ向上に貢献</h3>
                            <p>
                                近年、複雑且つ大規模化する製品開発工程において、弊社では上流フェーズから品質管理計画作成やテストプロセス改善を実施することで品質に関わる課題解決を図ります。
                                また、IoTの導入やスマートデバイスの普及により負担が増えるセキュリティ管理コストを弊社QAサービスが低減してまいります。
                            </p>
                        </div>
                    </article>
                    <article class="about-page--arc">
                        <div class="has-image">
                            <img src="img/i-about4.png" alt="" class="show-sp">
                            <img src="img/i-about4-pc.png" alt="" class="show-pc">
                        </div>
                        <div class="about-page--txt">
                            <h3>検索トレンドとマーケットニーズに基づくワンストップサポート</h3>
                            <p>
                                各種WEBサービスに関する最適なコンテンツ企画をはじめ、専門のアクティングスペシャリストが対ユーザーへの訴求効果向上や様々な広告手法を用いたマネタイズ施策、そして、スピードを担保した日次のコンテンツ更新作業を包括的に対応します。
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="pagination">
            <a class="prev" href="http://aoiyakk.com/renew/message.html">
                <i class="fa fa-angle-left fll"></i>
                <span class="jpn">メッセージ</span>
                <span class="eng">Message</span>
            </a>
            <a class="next" href="http://aoiyakk.com/renew/recruit.html">
                <span class="eng">Work</span>
                <span class="jpn">仕事紹介</span>
                <i class="fa fa-angle-right flr"></i>
            </a>
        </section>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>

    <include src="../_footer2.html"></include>
</body>

</html>