<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="contact"></include>
</head>

<body ontouchstart class="dev">
    <include src="../_header5.html"></include>

    <div id="content">


        <section class="contact-page">
            <div class="contact-title">基本情報入力</div>
            <div class="contact-notify">
                <div class="container">
                    <div class="notify-title">
                        個人情報登録のご注意
                    </div>
                    <ul>
                        <li> 全て入力必須項目です。 </li>
                        <li> テキストテキストテキストテキスト </li>
                        <li> テキストテキストテキストテキスト </li>
                        <li> テキストテキストテキストテキスト </li>
                    </ul>
                </div>
            </div> <!-- end .contact-notify -->
            <div class="js-tab">
                <ul class="step-box js-tabnav">
                    <li class="active">
                        <a href="#tab1">
                            <div class="step">
                                <span>Step</span>
                                <span class="num">1</span>
                            </div>
                            <span class="step-desc">入力画面</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2">
                            <div class="step">
                                <span>Step</span>
                                <span class="num">2</span>
                            </div>
                            <span class="step-desc">確認画面</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3">
                            <div class="step">
                                <span>Step</span>
                                <span class="num">3</span>
                            </div>
                            <span class="step-desc">完了画面</span>
                        </a>
                    </li>
                </ul>
                <div class="container">
                    
                    <form action="" method="POST" class="recruit-form" id="recruit-form">
                        <span class="p-country-name" style="display:none;">Japan</span>
                        <div class="js-tab-content">
                            <div id="tab1" class="tab-panel fade in active">
                                <div class="table-layout">

                                    <div class="thead">
                                        職種
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">

                                            応募職種
                                        </div>
                                        <div class="tdata ">
                                            <div class="js_radio_wrapper">
                                                <label>
                                                    <input type="radio" name="job" id="" value="テスター">
                                                    <span class="custom-radio"></span>
                                                    テスター
                                                </label>
                                                <label>
                                                    <input type="radio" name="job" id="" value="コンテンツオペレーター">
                                                    <span class="custom-radio"></span>
                                                    コンテンツオペレーター
                                                </label>
                                                <label>
                                                    <input type="radio" name="job" id="" value="テレフォンアポインター">
                                                    <span class="custom-radio"></span>
                                                    テレフォンアポインター
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="thead">
                                        お名前
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">

                                            漢字氏名 <span class="bracket">（全角入力のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper2">
                                                <label for="">
                                                    <span>姓：</span>
                                                    <input type="text" name="firstname_kanji" id="">
                                                </label>
                                                <label for="">
                                                    <span>名：</span>
                                                    <input type="text" name="lastname_kanji" id="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            カナ氏名 
                                            <span class="bracket">（全角カナ入力のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper2">
                                                <label for="">
                                                    <span>セイ：</span>
                                                    <input type="text" name="firstname_kata" id="">
                                                </label>
                                                <label for="">
                                                    <span>メイ：</span>
                                                    <input type="text" name="lastname_kata" id="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="thead">
                                        生年月日・性別
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            生年月日
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper3 js_radio_wrapper" id="js-select-date">
                                                <label>
                                                    <select name="year" id="year"></select>
                                                    <span>年</span>
                                                </label>
                                                <label>
                                                    <select name="month" id="month"></select>
                                                    <span>月</span>
                                                </label>
                                                <label>
                                                    <select name="day" id="day"></select>
                                                    <span>日</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            性別
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper7 js_radio_wrapper">
                                                <label>
                                                    <input type="radio" name="gender" value="男" id="">
                                                    <span class="custom-radio"></span>
                                                    男
                                                </label>
                                                <label>
                                                    <input type="radio" name="gender" value="女" id="">
                                                    <span class="custom-radio"></span>
                                                    女
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="thead">
                                        メールアドレス
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            E-mailアドレス <span class="bracket">（半角入力のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper4">
                                                <input type="email" name="email" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">

                                            E-mailアドレス <span class="bracket">（確認用（半角入力のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper4">
                                                <input type="email" name="re_email" id="re_email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="thead">
                                        電話番号
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            連絡用電話番号<span class="bracket">（半角数字のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper4">
                                                <input type="tel" name="phone">
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="thead">
                                        現住所
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            郵便番号 <span class="bracket">（半角数字７桁のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper4">
                                                <span>
                                                    <input type="text" name="first3" id="first3" class="p-postal-code" size="3" maxlength="3">
                                                </span>
                                                <span>ー</span>
                                                <span>
                                                    <input type="text" name="last4" id="last4" class="p-postal-code" size="4" maxlength="4">
                                                </span>
                                                <a href="" class="btn btn-gray js-find-addr">郵便番号で検索</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            都道府県
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper5">
                                                <select name="province" id="province">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            市区群・地名・番地
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper6">
                                                <input type="text" name="city" id="city" class="p-locality">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            建物名・部屋番号 <span class="bracket">（全角入力のみ）</span>
                                        </div>
                                        <div class="tdata">
                                            <div class="input-wrapper6">
                                                <input type="text" name="address" id="area" class="p-street-address">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <section class="step-nav">
                                    <button type="button" href="#tab2" data-toggle="tab" class="next" id="firstsubmit">
                                        <span class="eng">入力内容確認</span>
                                        <i class="fa fa-angle-right flr"></i>
                                    </button>
                                </section>
                               
                            </div>
                            <div id="tab2" class="tab-panel fade in ">
                                <div class="table-layout contact-confirm">

                                    <div class="trow">
                                        <div class="tdata">
                                            応募職種
                                        </div>
                                        <div class="tdata" id="preview-job"></div>
                                    </div>

                                    <div class="trow">
                                        <div class="tdata">
                                            お名前
                                        </div>
                                        <div class="tdata" id="preview-name"></div>
                                    </div>

                                    <div class="trow">
                                        <div class="tdata">
                                            生年月日
                                        </div>
                                        <div class="tdata" id="preview-birthday"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            性別
                                        </div>
                                        <div class="tdata" id="preview-gender"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            E-mailアドレス
                                        </div>
                                        <div class="tdata" id="preview-email"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            携帯用電話番号<span class="bracket">（半角数字のみ）</span>
                                        </div>
                                        <div class="tdata" id="preview-phone"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            郵便番号
                                        </div>
                                        <div class="tdata" id="preview-zipCode"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            都道府県
                                        </div>
                                        <div class="tdata" id="preview-province"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            市区群・地名・番地
                                        </div>
                                        <div class="tdata" id="preview-city"></div>
                                    </div>
                                    <div class="trow">
                                        <div class="tdata">
                                            建物名・部屋番号
                                        </div>
                                        <div class="tdata" id="preview-addr"></div>
                                    </div>

                                </div>
                                <section class="step-nav">
                                    <a href="#tab1" data-toggle="tab" class="back">
                                        戻る
                                    </a>
                                    <button type="submit" href="#tab3" data-toggle="tab" class="next" id="recruit-form-submit">
                                        <span class="eng">送信 <i class="fa form-check"></i></span>
                                        <i class="fa fa-angle-right flr"></i>
                                    </button>
                                </section>
                            </div>
                            <div id="tab3" class="tab-panel fade in ">
                                <div class="contact-thanks">
                                    <h2>お問い合わせ <br class="show-sp"> ありがとうございました</h2>
                                    <p>
                                        後ほど担当者よりご連絡を <br class="show-sp">
                                        差し上げますので <br>
                                        しばらくお待ちください
                                    </p>
                                </div>
                                <section class="step-nav">

                                    <a class="next" href="#tab1">
                                        <span class="eng">トップページへ戻る</span>
                                        <i class="fa fa-angle-right flr"></i>
                                    </a>
                                </section>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>
       


        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>

    <include src="../_footer2.html"></include>
</body>

</html>