<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="message"></include>
</head>

<body ontouchstart class="dev">
    <include src="../_header3.html"></include>
    <div id="content">
        <section class="block-page-name">
            <div class="half" style="background-image:url(img/mes-banner-l.png)"></div>
            <div class="half">
                <div class="page-name-jpn">
                    メッセージ
                </div>
            </div>
            <div class="page-name">
                <h2>Message</h2>
            </div>
        </section>

        <section class="focus">
            <div class="container">
                <div class="focus--bg">

                    <div class="focus--txt">
                        <h3>サービスを通じて、人々と社会を“ エンパワーメント”する
                        </h3>
                        <p>
                            インターネットという成長産業から軸足はぶらさない。ただし連動する分野にはどんどん参入していく。オールウェイズFRESH !
                            能力の高さより一緒に働きたい人を集める。採用には全力をつくす。若手の台頭を喜ぶ組織で、年功序列は禁止。スケールデメリットは徹底排除。迷ったら率直に言う。有能な社員が長期にわたって働き続けられる環境を実現。法令順守を徹底したモラルの高い会社に。ライブドア事件を忘れるな。挑戦した敗者にはセカンドチャンスを。クリエイティブで勝負する。世界に通用するイ

                        </p>
                    </div>

                    <div class="director-box">
                        <!-- <img src="img/focus-img.png" alt=""> -->
                        <h5 class="focus--name">代表取締役 <span>佃　一樹</span></h5>
                        <h5 class="focus--name2">KAZUKI TSUKUDA</h5>
                    </div>

                </div>
            </div>
        </section>

        <section class="message-part">
            <div class="container">
                <article class="message-post">
                    <div class="message-post-header">
                        <div class="flag">
                            <div class="flag--number">1</div>
                            <div class="flag--txt">
                                <span class="flag--txt--big">Mission</span>
                                <span class="flag--txt--small">任務</span>
                            </div>
                        </div>
                        <h3>一人ひとりが輝く豊かな世界の実現を目指します。 </h3>
                    </div>
                    <div class="message-post-txt">
                        <p>
                            「その手があったか」 と言われるアイデアがある。 「そこまでやるか」 と言われる技術がある。 「そんなことまで」 と言われる企業家精神がある。
                            私たちは3つの力でイノベーションをつくる。 人へ、社会へ、新たな変化をもたらす。 イノベーションをつくってゆく。「その手があったか」 と言われるアイデアがある。 「そこまでやるか」
                            と言われる技術がある。 「そんなことまで」 と言われる企業家精神がある。 私たちは3つの力でイノベーションをつくる。 人へ、社会へ、新たな変化をもたらす。
                            イノベーションをつくってゆく。「その手があったか」 と言われるアイデアがある。 「そこまでやる
                        </p>
                    </div>
                </article>
                <article class="message-post">
                    <div class="message-post-header">
                        <div class="flag">
                            <div class="flag--number">2</div>
                            <div class="flag--txt">
                                <span class="flag--txt--big">Vision</span>
                                <span class="flag--txt--small">目指す姿</span>
                            </div>
                        </div>
                        <h3>雇用構造にイノベーションを起こし続けます。 </h3>
                    </div>
                    <div class="message-post-txt">
                        <p>
                            飽くなき探究心を忘れず、視野を広げ、 一人ひとりが目的達成への強い意志と実行力を持ったプロとして、今、行動する。 時代の先を読み、組織の力を高め、機動力を持った経営で、
                            適正な利潤と持続的な成長を実現する。 人々の夢をかなえ、社会を変える商品・サービスを通して、 お客様に安心と笑顔を届け続ける。 今ある事業を、そしてこれから創り上げる新しい事業を、
                            もっと大きな、世界に誇れる事業に育て、 躍動感あふれるグループを次の世代に引き継いで行く。飽くなき探究心を忘れず、視野を広げ、 一人ひとりが目的達成への強い意志と実行力を持ったプロ
                        </p>
                    </div>
                </article>
                <article class="message-post">
                    <div class="message-post-header">
                        <div class="flag">
                            <div class="flag--number">3</div>
                            <div class="flag--txt">
                                <span class="flag--txt--big">Value</span>
                                <span class="flag--txt--small">価値観</span>
                            </div>
                        </div>
                        <h3>「無くてはならない人材との出会い」を提供し続けます。 </h3>
                    </div>
                    <div class="message-post-txt">
                        <p>
                            「良品」の新たな価値と魅力を生活者の視点で探求し、提供していく。独自性のある技術とサイエンスに基づき、新しい発想と継続的革新で価値を創造します。「良品」の新たな価値と魅力を生活者の視点で探求し、提供していく。独自性のある技術とサイエンスに基づき、新しい発想と継続的革新で価値を創造します。「良品」の新たな価値と魅力を生活者の視点で探求し、提供していく。独自性のある技術とサイエンスに基づき、新しい発想と継続的革新で価値を創造します。「良品」の新たな価値と魅力を生活者の視点で探求し、提供していく。独自性のある技術とサイエンスに基づき
                        </p>
                    </div>
                </article>
            </div>
        </section>

        <section class="pagination">
            <a class="prev" href="">
                <i class="fa fa-angle-left fll"></i>
                <span class="jpn">葵屋とは</span>
                <span class="eng">About</span>
            </a>
            <a class="next" href="">
                <span class="eng">Work</span>
                <span class="jpn">仕事紹介</span>
                <i class="fa fa-angle-right flr"></i>
            </a>
        </section>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>
    <include src="../_footer2.html"></include>
</body>

</html>