<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="recruit"></include>
</head>

<body ontouchstart class="">
    <include src="../_header4.html"></include>

    <div id="content">
        <section class="block-page-name">
            <div class="half">
                <img src="img/recruit-banner-sp.png" alt="" class="show-sp">
                <img src="img/recruit-banner-pc.png" alt="" class="show-pc">
            </div>
            <div class="half">
                <div class="page-name-jpn">募集要項</div>
            </div>
            <div class="page-name">
                <h2>Recruit</h2>
            </div>
        </section>

        <section class="recruit-page">
            <div class="container">
                
                <!-- <script src="http://192.168.0.165:8888/target/target-script-min.js#anonymous"></script> -->
                <div class="js-tab recruit-tab">
                    <ul class="js-tabnav">
                        <li class="active">
                            <a href="#tab1" onclick="">
                                <img src="img/i-tab1-w.png" alt="i-tab1" class="show-active">
                                <img src="img/i-tab1-blue.png" alt="i-tab1" class="hide-active">
                                <span>テスター</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" onclick="">
                                <img src="img/i-tab2-w.png" alt="i-tab2" class="show-active">
                                <img src="img/i-tab2-blue.png" alt="i-tab2" class="hide-active">
                                <span>コンテンツオペレーター</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" onclick="">
                                <img src="img/i-tab3-w.png" alt="i-tab3" class="show-active">
                                <img src="img/i-tab3-blue.png" alt="i-tab3" class="hide-active">
                                <span>テレフォンアポインター</span>
                            </a>
                        </li>
                    </ul>
                    <div class="js-tab-content">
                        <div id="tab1" class="tab-panel fade in active">
                            <div class="table-layout">
                                <div class="thead">
                                    募集背景
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tvalue">膨大なプログラミング構文を入力する上で、ミスを全くしないなど人間としてあり得ないことと言えるでしょう。ある程度ミスを覚悟して、後からミスとバグを探すデバッガーとテスターを通すことでようやくアプリケーションを完成させることができるのです。アプリケーション開発をする上でテスターもデバッガーもまた開発に必要不可欠な役職だと言えます。</div>
                                    </div>
                                </div>
                                <div class="thead">
                                    募集要項
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            仕事内容
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">
                                            受入先企業の主な分野は、プログラミング系、ネットワーク・インフラ系、サポート・管理系、クリエイティブ系など幅が広く、あなたの得意な分野でスキルを活かせます。約1.5ヶ月の企業実習期間中も個別フォローでサポート！

                                            【エンジニアとして携われる案件例】
                                            ・WEBサイトのプログラミング
                                            ・社内情報システムの管理
                                            ・マーケティングシステムの構築・保守
                                            ・スマホ、タブレット、WEBなどのアプリケーション開発　など </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            身につくスキル
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue"> スキルアップ訓練(実技)のカリキュラムは、プログラミング系(Javaプログラミング実習、
                                            データベース連携プログラミングなど)や、ネットワーク・インフラ系(通信ネットワークの基礎実習)などざまざま。
                                            ITエンジニアとして必須の基礎スキルを身につけられる環境です。 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            応募資格
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue"> 【学歴不問】
                                            実務未経験者でも以下の方で、神奈川県内に事業所のある企業への就職希望者であれば歓迎します。

                                            【活かせる経験・スキル】
                                            ITに関連するご興味や関心があれば、研修・実習によってスムーズに 「現場で求められる実践的なスキル」を身につけることができます。

                                            情報処理系の学科を専攻した方や、IT企業やIT関連の部署で勤務したことがある方(エンジニア以外)、<br class="show-pc">
                                            独学でプログラミングを学んだことのある方は、お持ちのスキルや知識を活かすことができます。 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            雇用形態
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp"> 正社員 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            給与
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp"> 00,00000円 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            休日休暇
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp"> 土日祝・夏季休暇・GW休暇 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            勤務時間
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp"> 10:00～19:00 </div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            福利厚生
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp"> 交通費支給・有給制度 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-panel fade">
                            <div class="table-layout">
                                <div class="thead">
                                    Lorem, ipsum.2
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Iure quos
                                            eligendi, harum ratione voluptatibus labore ut neque, optio adipisci
                                            libero, explicabo molestias numquam! Atque nesciunt quam ab tempora odit
                                            aliquam? </p>
                                    </div>
                                </div>
                                <div class="thead">
                                    Lorem, ipsum.
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-panel fade">
                            <div class="table-layout">
                                <div class="thead">
                                    Lorem, ipsum.3
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Iure quos
                                            eligendi, harum ratione voluptatibus labore ut neque, optio adipisci
                                            libero, explicabo molestias numquam! Atque nesciunt quam ab tempora odit
                                            aliquam? </p>
                                    </div>
                                </div>
                                <div class="thead">
                                    Lorem, ipsum.
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <p class="tkey">
                                            Lorem, ipsum.
                                        </p>
                                    </div>
                                    <div class="tdata">
                                        <p class="tvalue"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Repellat deserunt
                                            deleniti unde fugit cum, aliquid iure voluptatem est error? Quae nisi
                                            distinctio fugit itaque voluptatibus, nam nihil temporibus architecto
                                            cupiditate. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="pagination in-recruit">
            <a class="entry" href="">
                <span class="eng">Entry</span>
                <i class="fa fa-angle-right flr"></i>
            </a>
        </section>

        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>

    <include src="../_footer3.html"></include>
    
</body>

</html>