<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="recruit"></include>
</head>

<body ontouchstart class="">
    <include src="../_header3.html"></include>
    <div id="content">
        <section class="block-page-name">
            <div class="half">
                <img src="img/recruit-banner-sp.png" alt="" class="show-sp">
                <img src="img/recruit-banner-pc.png" alt="" class="show-pc">
            </div>
            <div class="half">
                <div class="page-name-jpn">募集要項</div>
            </div>
            <div class="page-name">
                <h2>Recruit</h2>
            </div>
        </section>

        <section class="recruit-page">
            <div class="container">

                <!-- <script src="http://192.168.0.165:8888/target/target-script-min.js#anonymous"></script> -->
                <div class="js-tab recruit-tab">
                    <ul class="js-tabnav">
                        <li class="active">
                            <a href="#tab1" onclick="">
                                <img src="img/i-tab1-w.png" alt="i-tab1" class="show-active">
                                <img src="img/i-tab1-blue.png" alt="i-tab1" class="hide-active">
                                <span>テスター</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" onclick="">
                                <img src="img/i-tab2-w.png" alt="i-tab2" class="show-active">
                                <img src="img/i-tab2-blue.png" alt="i-tab2" class="hide-active">
                                <span>コンテンツオペレーター</span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" onclick="">
                                <img src="img/i-tab3-w.png" alt="i-tab3" class="show-active">
                                <img src="img/i-tab3-blue.png" alt="i-tab3" class="hide-active">
                                <span>ディレクター</span>
                            </a>
                        </li>
                    </ul>
                    <div class="js-tab-content">
                        <div id="tab1" class="tab-panel fade in active">
                            <div class="table-layout">
                                <div class="thead">
                                    募集背景
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tvalue">現在、IT技術は私たちの生活に欠かせないものとなり、パーソナル・ビジネスを問わず、IT技術の利用は拡大しています。そのような背景もあり、現在テストケースの複雑化やテスターの需要増加が見られる状況です。お客様に品質を確実に保証するためには、開発エンジニアだけでなく、第三者によるチェックが必要となってきます。

                                            葵屋は、企業として大きく躍進するフェーズ企業に入ってきており、現在は第三者検証事業の拡大に注力を注いでおります。
                                            品質保証サービスをより多くのお客様に提供する為、メンバーを募集する運びとなりました。</div>
                                    </div>
                                </div>
                                <div class="thead">
                                    募集要項
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            仕事内容
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">開発中のWebサイトや業務システム、スマホアプリ等、お客様にて開発された製品を直接操作する事で、不具合を見つけ出すというお仕事です。
                                            製作者はどうしても「作る」立場での視点に片寄りがちになってしまいますので、いちユーザーとして「使う」立場で問題点を見つけ出して頂きます。

                                            具体的には以下のような作業を行なっていきます。

                                            ・チェックリストに沿って正しく動作するか、異常がないかを確認
                                            ・発見した不具合を報告
                                            ・修正された不具合の改修確認</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            身につくスキル
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">開発段階の製品を扱うことが出来ますので、一つの製品がどのように開発されるかの流れに携われる為、IT系のエンジニアを目指す為のスキルを学ぶ事が出来ます。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            応募資格
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">【必須スキル・経験】
                                            ・Office系アプリケーションの操作経験（Excel/Word/Powerpoint)
                                            ・スマートフォンの操作経験（Android,iOS端末の操作経験）

                                            【求める人物像】
                                            ・報告・連絡・相談がしっかり行える几帳面な方
                                            ・前向きな学習意欲を持つ方</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            雇用形態
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">正社員・契約社員</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            給与
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">■テスター採用
                                            　　A：契約社員(テスト実施 / デバッグ) ：1,000円/時給～　(半年毎考課制度により正社員登用あり)
                                            　　B：正社員(テスト設計・実施リーダー / リーダークラス)：20万円～40万円　(経験により判断)</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            休日休暇
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">土日祝日、夏季休暇、年末年始休暇、慶弔休暇、その他会社が定める休日
                                            （担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            勤務時間
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">10:00～19:00（担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            福利厚生
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">・社会保険制度あり(労災完備)
                                            ・実務研修あり</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-panel fade ">
                            <div class="table-layout">
                                <div class="thead">
                                    募集背景
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tvalue">システムを安定して運用していくためには様々な仕事があります。
                                            例えば、急な停電によるサーバ障害の復旧作業、毎月決まった日に処理するシステムが正常に稼働し正常に終了したかを監視する作業、顧客が使用しているシステムの問い合わせや技術サポートをする作業など、お客様の業務の安定稼働のため、あらゆる支援と管理を行うのが、オペレーターの仕事です。
                                            こうした要望の増加がある中で、弊社のサービス体制をより強化するため、メンバーを募集いたします。</div>
                                    </div>
                                </div>
                                <div class="thead">
                                    募集要項
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            仕事内容
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">システムを安定稼働させるために、稼働状況の監視や運用管理ツールの操作、システムの処理状況（障害報告、正常処理報告）の連絡、ATMやチケット予約などのオンライン処理の監視、データバックアップ作業、アウトプット帳票の印刷監視、仕分け等あらゆるシステム運用に関わる作業を担当するお仕事です。
                                            ※ご担当頂くプロジェクトによって、対応業務が変わります。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            身につくスキル
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">大規模監視ツールの使用方法、システムの仕組み、何千万PVのWebなど、他業種では体験できない仕組みの運用に携わることができます。
                                            安全な運用とは何か、なぜこういった運用が必要なのかということを運用をしながら学んで頂き、インフラ系資格取得や、運用を考慮したインフラ設計、運用ルール設計、運用コンサルなどの上位職を目指すことも可能です。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            応募資格
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">【必須スキル・経験】
                                            ・Office系アプリケーションの操作経験（Excel/Word/Powerpoint)
                                            
                                            【求める人物像】 
                                            ・社会人としてのマナー（報告・連絡・相談が出来る方）
                                            ・パソコンを触るのが好きな方、正社員になりたい方、ぜひご応募ください。
                                            ・学歴不問／未経験・第二新卒の方、異業界からの転職歓迎いたします。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            雇用形態
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">正社員・契約社員</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            給与
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">■オペレーター採用
                                            　　A：契約社員(オペレーター) ：1,000円/時給～　(半年毎考課制度により正社員登用あり)
                                            　　B：正社員(SV / SSVクラス)：20万円～25万円　(経験により判断)</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            休日休暇
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">土日祝日、夏季休暇、年末年始休暇、慶弔休暇、その他会社が定める休日
                                            （担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            勤務時間
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">10:00～19:00（担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            福利厚生
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">・社会保険制度あり(労災完備)
                                            ・実務研修あり</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-panel fade ">
                            <div class="table-layout">
                                <div class="thead">
                                    募集背景
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tvalue">大手企業のコーポレートサイトやプロモーションサイトなど、様々なWebサイトの新規構築や、大小のWebサイト運用更新案件のディレクションが主な業務です。
                                            既存の体制の強化を目的として、弊社のメンバーとして一緒に業務していただける方を募集いたします。
                                            クライアントや社内外のスタッフとコミュニケーションをとりながら、責任を持って業務に携わることが出来る方をお待ちしております。</div>
                                    </div>
                                </div>
                                <div class="thead">
                                    募集要項
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            仕事内容
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">・進行管理(クライアント、プロデューサー、社内外の制作者とコミュニケーションを行い進捗と品質を管理)
                                            ・制作予算管理(社内システムを使った工数管理や、外部工数などの予算管理)
                                            ・案件進行のための顧客とのコミュニケーション
                                            ・営業担当、プランナー、プロデューサーと協力し、企画立案を行う
                                            ・Webプロデューサーと協力して、仕様設計</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            身につくスキル
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">お客様の業務に即したシステムコンサルティング、Web連携システムへの深い知識、最新のWeb系の技術を習得できます。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            応募資格
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue">【必須スキル・経験】
                                            ・Webディレクター経験3年以上。もしくは、それに類する経験。
                                            ・Office系アプリケーションの操作経験（Excel/Word/Powerpoint)
                                            
                                            【求める人物像】 
                                            ・コミュニケーション能力の高い方。相手や自分の考えを的確に理解し、わかりやすく伝えられる方。</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            雇用形態
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">正社員・契約社員</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            給与
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">■ディレクター採用
                                            　　A：契約社員(ディレクター候補)：時給1,000円〜　(半年毎考課制度により正社員登用あり)
                                            　　B：正社員(ディレクター経験者)：月給25万円～40万円　(経験により判断)</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            休日休暇
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">土日祝日、夏季休暇、年末年始休暇、慶弔休暇、その他会社が定める休日
                                            （担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            勤務時間
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">10:00～19:00（担当プロジェクトによる）</div>
                                    </div>
                                </div>
                                <div class="trow">
                                    <div class="tdata">
                                        <div class="tkey">
                                            福利厚生
                                        </div>
                                    </div>
                                    <div class="tdata">
                                        <div class="tvalue text-center-sp">社会保険制度あり(労災完備)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>


            </div>
        </section>

        <section class="pagination in-recruit">
            <a class="entry" href="http://aoiyakk.com/renew/contact.html">
                <span class="eng">Entry</span>
                <i class="fa fa-angle-right flr"></i>
            </a>
        </section>

        <div class="clb40"></div>
        <div class="clb40"></div>
        <div class="clb40"></div>
    </div>

    <include src="../_footer2.html"></include>

</body>

</html>