<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="top"></include>
</head>

<body ontouchstart>
    <include src="../_header2.html"></include>

    <div id="content">

        <section class="message" id="mesage">
            <div class="heading text-center">
                <h2 class="title2">メッセージ</h2>
                <p class="subtitle2 bird-r">Message</p>
            </div>

            <div class="message--click text-center">

                <div class="message--bg"></div>

                <div class="dp-mid-center">
                    <a href="">
                        <img src="img/i-mess.png" alt="">
                        <span>CLICK HERE</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="heading text-center">
                <h2 class="title2">葵屋とは </h2>
                <p class="subtitle2 bird-l">About</p>
            </div>
            <div class="about-top">
                <div class="container">
                    <div class="desc">
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストストテキストテキストテキストテキスト
                    </div>
                </div>
            </div>
            <div class="about-bottom" id="about-department">
                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label1-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-agent.png" alt="">
                            <h3>agent</h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">エージェント事業</h4>
                        <p>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label2-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-hr.png" alt="">
                            <h3>HUMAN RESOURCE</h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">ヒューマンリソース事業</h4>
                        <p>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label3-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-evaluation.png" alt="">
                            <h3>EVALUATION </h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">検証・評価事業</h4>
                        <p>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label4-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-operation.png" alt="">
                            <h3>OPERATION </h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">オペレーション事業</h4>
                        <p>
                            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

            </div>

        </section>

        <section class="work" id ="work">
            <div class="heading text-center">
                <h2 class="title2">募集職種 </h2>
                <p class="subtitle2 bird-r">Work</p>
            </div>

            <div class="work--bg">

                <div class="container work--wrapper">
                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-tester.png" alt="">
                            <span>TESTER</span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>テスター採用</h3>
                            <p>
                                より大規模なシステムの開発に携わることができるテスターの強み。
                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>

                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-monitor.png" alt="">
                            <span>CONTENT
                                OPERATOR</span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>コンテンツ
                                オペレーター採用</h3>
                            <p>
                                自分が直接関わっているサービスを成長させることができるオペレーターの強み。

                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>
                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-phone-call.png" alt="">
                            <span>SALES
                                SUPPORT </span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>営業 サポート採用</h3>
                            <p>
                                お客様との会話を通して培うマーケティング能力アポインターの強み。
                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <include src="../_footer2.html"></include>
</body>

</html>