<!doctype html>
<html lang="en">

<head>
    <include src="../_head.html" text="top"></include>
</head>

<body ontouchstart>
    <include src="../_header2.html"></include>

    <div id="content">

        <section class="message" id="mesage">
            <div class="heading text-center">
                <h2 class="title2">メッセージ</h2>
                <p class="subtitle2 bird-r">Message</p>
            </div>

            <div class="message--click text-center">

                <div class="message--bg"></div>

                <div class="dp-mid-center">
                    <a href="">
                        <img src="img/i-mess.png" alt="">
                        <span>CLICK HERE</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="heading text-center">
                <h2 class="title2">葵屋とは </h2>
                <p class="subtitle2 bird-l">About</p>
            </div>
            <div class="about-top">
                <div class="container">
                    <div class="desc">
                        2015年に産声をあげた葵屋は、大手クライアント様が抱える多岐にわたった悩みや要求に対してITを通じて相手目線に立った改善提案から解決を図り、企業の更なる発展と成長に貢献している会社です。
                        “誰かの幸せを実現することが、我々の幸せに直結する”を合言葉に、関わる全ての想いを紡いだミライへのシナジーを体現しています。
                    </div>
                </div>
            </div>
            <div class="about-bottom" id="about-department">
                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label1-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-agent.png" alt="">
                            <h3>agent</h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">エージェント事業</h4>
                        <p>
                            ”業務効率化”と”機会創出”の実現
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label2-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-hr.png" alt="">
                            <h3>HUMAN RESOURCE</h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">ヒューマンリソース事業</h4>
                        <p>
                            総合的なITリソースプロポーザル
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label3-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-evaluation.png" alt="">
                            <h3>EVALUATION </h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">検証・評価事業</h4>
                        <p>
                            トータルクオリティ向上に貢献
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

                <div class="about-department">
                    <div class="department-label">
                        <img src="img/label4-bg.png" alt="">
                        <div class="dp-mid-center">
                            <img src="img/i-operation.png" alt="">
                            <h3>OPERATION </h3>
                        </div>
                    </div>
                    <div class="department-summary">
                        <h4 class="department-summary--heading">オペレーション事業</h4>
                        <p>
                            検索トレンドとマーケットニーズに基づくワンストップサポート
                        </p>
                        <a href="#agent1" class="arrow-down"><img src="img/i-arrow-down-depart.png" alt=""></a>
                    </div>
                </div>

            </div>

        </section>

        <section class="work" id="work">
            <div class="heading text-center">
                <h2 class="title2">募集職種 </h2>
                <p class="subtitle2 bird-r">Work</p>
            </div>

            <div class="work--bg">

                <div class="container work--wrapper">
                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-tester.png" alt="">
                            <span>TESTER</span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>テスター採用</h3>
                            <p>
                                開発中のWebサイトや業務システム、スマホアプリ等、お客様にて開発された製品を
                                直接操作する事で、不具合を見つけ出すというお仕事です。
                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>

                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-monitor.png" alt="">
                            <span>CONTENT
                                OPERATOR</span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>コンテンツ
                                オペレーター採用</h3>
                            <p>
                                システムを安定稼働させるために、稼働状況の監視や運用管理ツールの操作、システムの処理状況（障害報告、正常処理報告）の連絡等あらゆるシステム運用に関わる作業を担当するお仕事です。

                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>
                    <div class="work--entry">
                        <div class="work--entry--label">
                            <img src="img/i-phone-call.png" alt="">
                            <span>DIRECTOR</span>
                        </div>
                        <div class="work--entry--txt">
                            <h3>ディレクター採用</h3>
                            <p>
                                大手企業のコーポレートサイトやプロモーションサイトなど、様々なWebサイトの新規構築や、大小のWebサイト運用更新案件のディレクションが主なお仕事です。
                            </p>
                        </div>
                        <a href="" class="read-entry">ENTRY</a>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <include src="../_footer2.html"></include>
</body>

</html>