/* #region  sp */
.contact-page {
    .container{
        @extend %wrapper3;
    }
    .i-rhomb {
        width: vwSP(18px);
        height: vwSP(18px);
        display: inline-block;
        background: #cd0100;
        @include rotate(45);
        margin-right: vwSP(5px);
    }

    .contact-title {
        font-size: vwSP(40px);
        color: #00008b;
        text-align: center;
        padding: vwSP(60px) 0;
    }

    .contact-notify {
        background: #f9f9eb;
        max-width: vwSP(1000px);
        padding: vwSP(40px) 0;
        margin: auto;

        .notify-title {
            font-size: vwSP(30px);
            margin-bottom: vwSP(15px);
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
            color: #707070;

            li {
                font-size: vwSP(20px);
            }
        }
    }

    .step-box {
        display: flex;
        background: linear-gradient(#92b4dc, #5a8cc9);
        margin: vwSP(80px) vwSP(30px) vwSP(70px);
        box-shadow: 0 5px 5px transparentize(#000, .8);
        border-radius: 20px;
        overflow: hidden;

        li {
            color: #fff;
            width: (100/3)+0%;
            padding: vwSP(20px);
            padding-right: 0px;

            +li {
                border-left: 2px solid #4976b9;
            }

            &.active {
                background: #fff;
                color: #5a8cc9;
            }

            .step {
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                vertical-align: middle;
                text-align: center;
                margin-right: vwSP(15px);

                span {
                    display: block;
                }

                .num {
                    font-size: vwSP(30px);
                }
            }

            .step-desc {
                font-size: vwSP(18px);
                font-weight: bold;
            }
        }
    }

    .table-layout {
        border-width: 2px;
        font-size: vwSP(25px);
        color: #707070;
        margin-bottom: vwSP(100px);

        .thead {
            font-size: vwSP(30px);
            font-weight: bold;
            color: hsl(213, 51%, 57%);
            background: #f1f2f3;
            padding: vwSP(10px);
            border-width: 2px;
            margin-top: -2px;
            margin-left: -2px;
        }

        .trow {
            flex-direction: column;
        }

        .tdata {
            padding: vwSP(10px);
            border-width: 2px;
            margin-top: -2px;
            margin-left: -2px;

        }
    }

    .contact-form {
        label {
            display: inline-block;
            padding: vwSP(10px);
            margin-right: vwSP(30px);
        }

        input[type="radio"] {
            position: relative;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 25px;

            &:before {
                content: '';
                position: absolute;
                top: -1px;
                left: -1px;
                display: block;
                width: 30px;
                height: 30px;
                background: #fff;
                border: 1px solid #e5e6e8;
                border-radius: 30px;
            }

            &:checked {
                &:before {
                    border-color: #5a8cc9;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    width: 25px;
                    height: 25px;
                    background: #5a8cc9;
                    border-radius: 30px;

                }
            }
        }

        input,
        select {
            width: 100%;
            height: vwSP(60px);
            padding: 0 10px;
            border: 1px solid #e4e6e8;
            border-radius: 5px;
        }

        .btn {
            color: #000;
            display: inline-block;
            padding: vwSP(10px) vwSP(30px);
            white-space: nowrap;

            &:hover {
                @include brightness(.8)
            }

            &.btn-gray {
                background: #e4e6e8;
                font-size: vwSP(18px);
            }
        }

        .input-wrapper2 {
            @include clear();
            padding: vwSP(10px) vwSP(20px);

            label {
                width: 50%;
                float: left;
                margin-right: 0;
            }

            input {
                width: vwSP(180px);
            }
        }

        .input-wrapper3 {
            padding: vwSP(10px) vwSP(5px);
            @include clear();

            label {
                width: (100/3)+0%;
                float: left;
                margin-right: 0;
            }

            input,
            select {
                width: vwSP(100px);
            }
        }

        .input-wrapper4 {
            display: flex;
            align-items: center;
            padding: vwSP(10px) vwSP(5px);

            span {
                margin: 0 vwSP(10px);
            }
        }

        .input-wrapper5 {
            width: vwSP(150px);
            padding: vwSP(10px) vwSP(5px);
        }

        .input-wrapper6 {
            padding: vwSP(10px) vwSP(5px);
        }

        .input-wrapper7 {
            text-align: center;
        }
    }

    .contact-confirm {
        font-size: vwSP(30px);
        padding: vwSP(15px) vwSP(40px);
    }

}
.contact-thanks{
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: vwSP(100px);
    h2{
        font-size: vwSP(40px);
        color: #5c95d2;
        margin-bottom: vwSP(50px);
    }
    p{
        font-size: vwSP(30px);
        color: #393939;
    }
}
.step-nav {
    width: vwSP(685px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .back,
    .next {
        height: vwSP(118px);
    }

    .back,
    .next span {
        font-size: vwSP(50px);
    }

    .back {
        color: #4976b9;
        display: flex;
        align-items: center;
        padding: vwSP(35px) vwSP(70px);
        border: 1px solid #5a8cc9;
        margin-right: vwSP(33px);
        border-radius: vwSP(100px);
        box-shadow: 0 3px 5px transparentize(#000, .8);
        transition: all .3s;

        &:hover {
            color: #fff;
            background: #4976b9;
        }
    }

    .next {
        background: linear-gradient(#92b3dc, #5a8dc9);
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding: 0 vwSP(20px);
        border-radius: vwSP(100px);
        box-shadow: 0 3px 5px transparentize(#000, .8);

        &:hover {
            background: #fff;

            span,
            .fa {
                color: #4976b9;
            }
        }

        span {

            color: #fff;
            margin-left: auto;
        }

        .fa {
            font-size: vwSP(45px);
            color: #fff;
            margin-left: auto;
        }
    }
}

/* #endregion sp */

//pc screen
@include pc() {
    .contact-page {
        margin-top: 100px;

        .i-rhomb {
            flex-shrink: 0;
            width: vwPC(10px);
            height: vwPC(10px);
            @include rotate(45);
            margin-right: vwPC(5px);
        }

        .contact-title {
            font-size: vwPC(40px);
            padding: vwPC(60px) 0;
        }

        .contact-notify {
            max-width: vwPC(1000px);
            padding: vwPC(40px) vwPC(20px);

            .notify-title {
                font-size: vwPC(30px);
                margin-bottom: vwPC(15px);
            }

            ul {
                li {
                    font-size: vwPC(20px);
                }
            }
        }

        .step-box {
            max-width: vwPC(900px);
            margin: vwPC(53px) vwPC(30px) vwPC(55px);
            margin-left: auto;
            margin-right: auto;

            li {
                text-align: center;
                padding: vwPC(20px);
                padding-right: 0px;

                .step {
                    margin-right: vwPC(15px);

                    .num {
                        font-size: vwPC(30px);
                    }
                }

                .step-desc {
                    font-size: vwPC(18px);
                }
            }
        }

        .table-layout {
            border-width: 2px;
            font-size: vwPC(18px);
            color: #707070;
            margin-bottom: vwPC(100px);

            .thead {
                position: relative;
                font-size: vwPC(20px);
                color: hsl(213, 51%, 57%);
                padding: vwPC(10px);

                &:before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    height: 2px;
                    background-color: #4c8cce;
                }
            }

            .trow {
                flex-direction: row;
            }

            .tdata {
                &:first-child {
                    flex: 0 0 vwPC(250px);
                    display: flex;
                    align-items: center;
                }

                flex-grow: 1;
                padding: vwPC(10px);
            }
        }

        .contact-form {
            label {
                padding: vwPC(10px);
                margin-right: vwPC(30px);
            }

            input[type="radio"] {
                width: 18px;
                height: 18px;
                margin-right: 25px;

                &:before {
                    width: 18px;
                    height: 18px;
                    border-radius: 30px;
                }

                &:checked {
                    &:after {
                        content: '';
                        width: 13px;
                        height: 13px;
                        border-radius: 13px;

                    }
                }
            }

            input,
            select {
                height: vwPC(35px);
                border-radius: 5px;
            }

            .btn {
                padding: vwPC(8px) vwPC(30px);

                &.btn-gray {
                    font-size: vwPC(14px);
                }
            }

            .input-wrapper2 {
                padding: vwPC(0px) vwPC(20px);

                label {
                    float: none;
                    width: vwPC(300px);

                    span {
                        vertical-align: middle;
                        margin-right: 40px;
                    }

                    input {
                        float: right;
                    }
                }

                input {
                    width: vwPC(180px);
                }
            }

            .input-wrapper3 {
                padding: vwPC(10px) vwPC(20px);

                label {
                    float: none;
                    width: unset;
                    padding: 0;
                }

                input,
                select {
                    width: vwPC(100px);
                }
            }

            .input-wrapper4 {
                padding: vwPC(10px) vwPC(5px);

                span {
                    margin: 0 vwPC(10px);
                }
            }

            .input-wrapper5 {
                width: vwPC(150px);
                padding: vwPC(10px) vwPC(5px);
            }

            .input-wrapper6 {
                padding: vwPC(10px) vwPC(5px);
                width: vwPC(660px);
            }

            .input-wrapper7 {
                text-align: left;
            }
        }

        .contact-confirm {
            font-size: vwPC(18px);
            padding: vwPC(3px) vwPC(40px) 0;
        }
    }
    .contact-thanks{
        text-align: center;
        max-width: 90%;
        margin: auto;
        margin-bottom: vwPC(70px);
        h2{
            font-size: vwPC(40px);
            color: #5c95d2;
            margin-bottom: vwPC(50px);
        }
        p{
            font-size: vwPC(30px);
            color: #393939;
        }
    }
    .step-nav {
        width: vwPC(482px);

        .back,
        .next {
            height: vwPC(50px);
        }

        .back,
        .next span {
            font-size: vwPC(20px);
        }

        .back {
            padding: vwPC(0px) vwPC(70px);
            margin-right: vwPC(33px);
            border-radius: vwPC(100px);
        }

        .next {
            max-width: 300px;
            padding: 0 vwPC(20px);
            border-radius: vwPC(100px);

            .fa {
                font-size: vwPC(25px);
            }
        }
    }
}

//large screen
@include lg() {
    .contact-page {
        margin-top: 100px;

        .i-rhomb {
            flex-shrink: 0;
            width: (10px);
            height: (10px);
            @include rotate(45);
            margin-right: (5px);
        }

        .contact-title {
            font-size: (40px);
            padding: (60px) 0;
        }

        .contact-notify {
            max-width: (1000px);
            padding: (40px) (20px);

            .notify-title {
                font-size: (30px);
                margin-bottom: (15px);
            }

            ul {
                li {
                    font-size: (20px);
                }
            }
        }

        .step-box {
            max-width: (900px);
            margin: (53px) (30px) (55px);
            margin-left: auto;
            margin-right: auto;

            li {
                padding: (20px);
                padding-right: 0px;

                .step {
                    margin-right: (15px);

                    .num {
                        font-size: (30px);
                    }
                }

                .step-desc {
                    font-size: (18px);
                }
            }
        }

        .table-layout {
            border-width: 2px;
            font-size: (18px);
            color: #707070;
            margin-bottom: (100px);

            .thead {
                position: relative;
                font-size: (20px);
                color: hsl(213, 51%, 57%);
                padding: (10px);

                &:before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    height: 2px;
                    background-color: #4c8cce;
                }
            }

            .trow {
                flex-direction: row;
            }

            .tdata {
                &:first-child {
                    flex: 0 0 (250px);
                    display: flex;
                    align-items: center;
                }

                flex-grow: 1;
                padding: (10px);
            }
        }

        .contact-form {
            label {
                padding: (10px);
                margin-right: (30px);
            }

            input[type="radio"] {
                width: 18px;
                height: 18px;
                margin-right: 25px;

                &:before {
                    width: 18px;
                    height: 18px;
                    border-radius: 30px;
                }

                &:checked {
                    &:after {
                        content: '';
                        width: 13px;
                        height: 13px;
                        border-radius: 13px;

                    }
                }
            }

            input,
            select {
                height: (35px);
                border-radius: 5px;
            }

            .btn {
                padding: (8px) (30px);

                &.btn-gray {
                    font-size: (14px);
                }
            }

            .input-wrapper2 {
                padding: (0px) (20px);

                label {
                    float: none;
                    width: (300px);

                    span {
                        vertical-align: middle;
                        margin-right: 40px;
                    }

                    input {
                        float: right;
                    }
                }

                input {
                    width: (180px);
                }
            }

            .input-wrapper3 {
                padding: (10px) (20px);

                label {
                    float: none;
                    width: unset;
                    padding: 0;
                }

                input,
                select {
                    width: (100px);
                }
            }

            .input-wrapper4 {
                padding: (10px) (5px);

                span {
                    margin: 0 (10px);
                }
            }

            .input-wrapper5 {
                width: (150px);
                padding: (10px) (5px);
            }

            .input-wrapper6 {
                padding: (10px) (5px);
                width: (660px);
            }

            .input-wrapper7 {
                text-align: left;
            }
        }
        .contact-confirm {
            font-size: (18px);
            padding: (3px) (40px) 0;
        }
    }
    .contact-thanks{
        text-align: center;
        max-width: 90%;
        margin: auto;
        margin-bottom: (100px);
        h2{
            font-size: 40px;
            color: #5c95d2;
            margin-bottom: (50px);
        }
        p{
            font-size: 30px;
            color: #393939;
        }
    }
    .step-nav {
        width: (482px);

        .back,
        .next {
            height: (50px);
        }

        .back,
        .next span {
            font-size: (20px);
        }

        .back {
            padding: (0px) (70px);
            margin-right: (33px);
            border-radius: (100px);
        }

        .next {
            max-width: 300px;
            padding: 0 (20px);
            border-radius: (100px);

            .fa {
                font-size: (25px);
            }
        }
    }
}