<footer>

    <div class="ft-bg">
        <div class="ft-bg--wrapper">
            <section class="ft-top">
                <div class="ft-brand">
                    <img src="img/logo.png">
                    <span>Lorem ipsum dolor.</span>
                </div>
                <a class="go-top show-sp">
                    <img src="img/i-arrow-up.png">
                    <p>PAGE TOP</p>
                </a>
                <div class="clb20"></div>
                <div class="show-pc">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium non necessitatibus labore omnis ipsum aspernatur error quo, dicta atque consequatur?
                </div>
            </section>

            <section class="ft-mid">
                <ul class="ft-menu">
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                    <li><a href="">Lorem ipsum</a></li>
                </ul>
                <div class="ft-logo">
                    <img src="img/ft-logo.png">
                </div>
            </section>

            <section class="ft-bot">
                <div class="copy-r">Copyright @ 2018 <a href="">AOIYA</a>. All Rights Reserved.</div>
            </section>
        </div>
    </div>

</footer>
<a href="" id="go-top" class="show-pc"><i class="fa fa-angle-up"></i></a>