<footer class="footer2">

    <a href="" class="go-top gotop-sp"><i class="fa fa-angle-up"></i></a>
    <div class="ft-wrapper">

        <div class="ft-top">
            <div class="floatright-pc">
                <div class="ft-logo-brand">
                    <div class="ft-brand">
                        <img src="img/logo-ft.png" class="show-sp" alt="alt_text">
                        <img src="img/logo-blue.png" class="show-pc" alt="alt_text">
                        <span><b>葵屋</b> 株式会社 </span>
                    </div>
                    <!-- <a class="go-top show-sp">
                            <img src="img/arrow-up.png" alt="alt_text">
                            <p>PAGE TOP</p>
                        </a> -->
                    <div class="show-pc">
                        〒210−0023 神奈川県川崎市川崎区小川町15-13 川崎トーセイビル 8階 <br>
                        TEL. 044-221-9662 MAIL. info@aoiyakk.com
                    </div>
                </div>
                <ul class="ft-menu show-pc">
                    <li><a href="" >ホーム</a></li>
                    <li><a href="" >メッセージ</a></li>
                    <li><a href="" >葵屋とは</a></li>
                </ul>
            </div>
        </div>


        <section class="ft-bot">
            <ul class="ft-menu show-sp">
                <li><a href="" >ホーム</a></li>
                <li><a href="" >メッセージ</a></li>
                <li><a href="" >葵屋とは</a></li>
            </ul>

            <div class="ft-logo"> <img src="img/aoiya2.png" alt="alt_text"> </div>
            <div class="copy-r show-sp">Copyright (C) 2017 <a href="">Aoiya</a> KK All Rights Reserved.</div>
        </section>

    </div>

</footer>

<!-- footer library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA4GSO0mBdxjmaNM-e30bVTrz_RrSeJJA&callback=myMap"></script>