<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href=""><img src="img/logo-blue.png" alt=""></a>
            <ul class="header-list">
                <!-- <li><a href="" >ホーム</a></li>
                <li><a href="" >メッセージ</a></li>
                <li><a href="" >葵屋とは</a></li> -->
            </ul>
            <!--mobi button-->
            <a href="" class="header-entry">
                <!-- <a href=""> -->
                    <i class="fa fa-sign-in"></i>
                    <span>ENTRY</span>
                <!-- </a> -->
            </a>
            <!--/mobi button-->
        </div>
        <div class="js-after-fixed"></div>
    </section>


</header>