<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href=""><img src="img/logo-blue.png" alt=""></a>
            <ul class="header-list">
                <li><a href="" class="go-top">ホーム</a></li>
                <li><a href="#mesage" class="go-to">メッセージ</a></li>
                <li><a href="#about" class="go-to">葵屋とは</a></li>
            </ul>
            <!--mobi button-->
            <a href="" class="header-entry">
                <!-- <a href=""> -->
                    <i class="fa fa-sign-in"></i>
                    <span>ENTRY</span>
                <!-- </a> -->
            </a>
            <!--/mobi button-->
        </div>
        <div class="js-after-fixed"></div>
    </section>

    <section class="banner">
        <img src="img/top-main-bg.png" alt="" class="show-sp w1">
        <img src="img/top-main-bg-pc.jpg" alt="" class="show-pc w1">
        <div class="box-name">
            <!-- <img src="img/box-name.png" alt=""> -->
            <h2> やり遂げた先にしか <br class="show-sp">見えない <br class="show-pc">世界が、<br class="show-sp">ここにはある。 </h2>

            <p> 人の想いをつなぐビジネス。
                よりよい仕組みや価値を社会に<br class="show-sp"> 広く届けること<br class="show-pc">をビジネスの本質だと<br class="show-sp"> 捉えて、<br class="show-pc">成長を続けている。 </p>
        </div>
        <a href="#about-department" class="show-pc scrolldown go-to">
            <span>SCROLL</span> <br>
            <img src="img/i-arrow-down.png" alt="">
        </a>
    </section>
</header>