<header>
    <section id="menu">
        <div class="navbar2 sticky-header fixed clearfix">
            <a class="logo" href=""><img src="img/logo.png" alt=""></a>
            <ul class="header-list">
                <li><a href="">ホーム</a></li>
                <li><a href="">メッセージ</a></li>
                <li><a href="">葵屋とは</a></li>
            </ul>
            <!--mobi button-->
            <div class="header-entry">
                <i class="fa fa-sign-in"></i>
                ENTRY
            </div>
            <!--/mobi button-->
        </div>
    </section>

    <section class="banner">
        <img src="img/top-main-bg.png" alt="" class="w1">
        <div class="box-name">
            <!-- <img src="img/box-name.png" alt=""> -->
            <h2> やり遂げた先にしか
                見えない世界が、
                ここにはある。 </h2>
            <p> 人の想いをつなぐビジネス。
                よりよい仕組みや価値を社会に
                広く届けることをビジネスの本質だと
                捉えて、成長を続けている。 </p>
        </div>
        <a href="" class="show-pc scrolldown">
            <span>SCROLL</span> <br>
            <img src="img/i-arrow-down.png" alt="">
        </a>
    </section>
</header>