// @import '_menu.scss';
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    position: relative;
}

.clearfix {

    &:After,
    &:before {
        content: '';
        display: table;
        clear: both;
    }
}

.logo-sp {
    padding: vwSP(19) vwSP(59) vwSP(11);

    img {
        width: vwSP(85);
        height: vwSP(70);
    }
}



.contact-header {
    font-size: vwPC(14px);
    color: #fff;
    background: #5A8CC9;
    padding: vwPC(10px) vwPC(28.2px) vwPC(8px) vwPC(29.4px);
    border-radius: 3px;
    margin-left: auto;
    margin-right: vwPC(20px);
    margin-top: vwPC(37px);
}

.header-list {
    display: flex;
    align-items: center;
    margin-left: auto;

    li {
        display: inline-block;
        padding: 0 vwSP(22px);

        &:hover {
            a {
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: vwSP(-10px);
                    left: 0;
                    width: 100%;
                    border-bottom: 2px solid #73c1ad;
                }
            }
        }

        a {
            font-size: vwSP(16px);
            font-weight: bold;
            position: relative;
            color: #00008b;
        }
    }
}

.header-entry {
    font-family:'roboto condensed', sans-serif;
    font-size: vwSP(18.64px);
    color: #fff;
    font-weight: bold;
    background: #00008b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 vwSP(15px) 0 vwSP(12px);

    .fa {
        margin-right: vwSP(7px);
    }
}

.banner {
    position: relative;

    >img {
        width: 100%;
    }

    .box-name {
        z-index: 2;
        position: absolute;
        top: 43%;
        left: 50%;
        @include translate(-50%, -50%);

        h2 {
            position: relative;
            font-size: vwSP(40px);
            color: #00008b;
            margin-bottom: vwSP(20px);

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 10000px;
                right: 0;
                bottom: -10px;
                border-bottom: 2px solid #add4c9;
            }

        }

        p {
            font-size: 30px;
        }
    }
}

.banner {
    font-size: 0;
    .box-name {
        font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
        font-size: vwSP(30px);
        z-index: 2;
        position: absolute;
        max-width: 59%;
        top: 50%;
        left: 6%;
        @include translate(0, -50%);
        
        h2 {
            position: relative;
            font-size: vwSP(40px);
            // white-space: pre-line;
            color: #00008b;
            margin-bottom: vwSP(20px);
            text-shadow: 0 5px 15px transparentize(#040000, .7);
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 10000px;
                right: vwSP(30px);
                bottom: vwSP(-10px);
                border-bottom: 2px solid #add4c9;
            }

        }
        p{
            font-size: vwSP(26px);
            // white-space: pre-line;
        }
    }
}

//pc
@include pc() {
    .header-list {
        li {
            padding: 0 vwPC(42px);

            a {
                font-size: vwPC(16px);
            }
        }
    }

    .header-entry {
        font-size: vwPC(24px);
        background: #00008b;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 vwPC(54px);

        .fa {
            margin-right: vwPC(7px);
        }
    }

    .banner {
        .box-name {
            font-size: vwPC(30px);
            z-index: 2;
            position: absolute;
            max-width: 55%;
            top: 43%;
            left: 11.5%;
            @include translate(0, -50%);

            h2 {
                font-size: vwPC(50px);
                line-height: vwPC(70px);
                margin-bottom: vwPC(35px);
            }
            p{
                font-size: vwPC(26px);
            }
        }
    }

    .scrolldown {
        font-size: vwPC(13px);
        display: inline-block;
        text-align: center;
        position: absolute;
        z-index: 2;
        left: vwPC(430px);
        bottom: vwPC(120px);

        span {
            display: inline-block;
            color: #00008b;
            font-size: vwPC(14px);
            padding-bottom: vwPC(10px);
        }
    }
}

@include lg() {
    .contact-header {
        font-size: (14px);
        padding: (10px) (28.2px) (8px) (29.4px);
        margin-right: (20px);
        margin-top: (37px);
    }

    .header-list {
        li {
            padding: 0 (42px);

            a {
                font-size: (16px);
            }
        }
    }

    .header-entry {
        font-size: (24px);
        padding: 0 (54px);

        .fa {
            margin-right: (7px);
        }
    }

    .slide {
        .box-name {
            h2 {
                font-size: (60px);
            }
        }
    }

    .banner {
        .box-name {
            font-size: (30px);
            @include translate(0, -50%);

            h2 {
                font-size: (40px);
                margin-bottom: (20px);
                line-height: 70px;
                &:after {
                    right: 0;
                    bottom: -10px;
                }

            }
            p{
                font-size: (26px);
            }
        }
    }

    .scrolldown {
        left: (430px);
        bottom: (120px);

        span {
            font-size: (14px);
            padding-bottom: (10px);
        }
    }
}